
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.quoteWrapper{
  padding:24px;
  padding-top:33%;
  position: relative;
  background-color:transparentize(#549654, 0.1);
  color:white;
  cite{
    font-size: 24px;
  }
  blockquote{
    font-size: 18px;
  }
}

.green{
  background-color:transparentize(#549654, 0.1);
}

.purple{
  background-color:transparentize(#545496, 0.1);
}

.red{
  background-color:transparentize(#965454, 0.1);
}

.turquoise{
  background-color:transparentize(#549696, 0.1);
}

.quoteLining{
  position:absolute;
  height: 100%;
  top:0;
}
.quoteWrapperHidden{
  display: none;
}

.leadQuote{

  padding: 0 ;
  padding-top:56.25%;
  blockquote{
    margin: 0 64px ;
    font-size: 24px;
  }
  cite{
    font-size: 28px;
    margin: 0 64px ;
    margin-top: 20px;
  }
}

.quoteTypeWrapper{
    display: table;
    width: 100%;
    height: 100%;
}

.quoteType{
  display: table-cell;
  vertical-align: middle;
}

.icon {
  cursor: pointer;
  right:0;
}

.container{
  position:relative;
  blockquote{
    border:none;
    &:after, &:before{
      color:white;
    }
  }
}

.imageWrapper{
  background-color:transparentize(#549654, 0.1);
  padding-top:56.25%;
  position:relative;
  img{
    position:absolute;
    top:0;
  }
}