
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.quoteWrapper{
  padding:24px;
  padding-top:33%;
  position: relative;
  background-color:transparentize(#549654, 0.1);
  color:white;
  cite{
    font-size: 24px;
  }
  blockquote{
    font-size: 18px;
  }
}

.quoteLining{
  position:absolute;
  height: 100%;
  top:0;
}
.quoteWrapperHidden{
  display: none;
}

.leadQuote{
  padding-top:56.25%;
  blockquote{
    font-size: 28px;
  }
}

.quoteTypeWrapper{
    display: table;
    width: 100%;
    height: 100%;
}

.quoteType{
  display: table-cell;
  vertical-align: middle;
}

.icon {
  cursor: pointer;
  right:0;
}

.container{
  position:relative;
  blockquote{
    border:none;
    &:after, &:before{
      color:white;
    }
  }
}

.imageWrapper{
  position:relative;
}