
.green{
  background-color:transparentize(#549654, 0.1);
}

.purple{
  background-color:transparentize(#545496, 0.1);
}

.red{
  background-color:transparentize(#965454, 0.1);
}

.turquoise{
  background-color:transparentize(#549696, 0.1);
}

.icon {
  cursor: pointer;
  right:0;
}

.container{
  position:relative;
  blockquote{
    border:none;
    &:after, &:before{
      color:white;
    }
  }
}