@import "src/theme/variables";

.content{
  i{
    margin-right:0.5em;
  }
}

.logo{
  background-image:url("./butta.jpeg");
  background-size: contain;
  height:80px;
  background-repeat: no-repeat;
  display:block;
  text-indent:-9999px;
  margin-top:0.5em;
}