@import "src/theme/variables";
@import "~compass-mixins/lib/compass";

.promoUnit{
  a {
    text-decoration: none!important;
    p {
      font-size: initial;
    }
    &:hover{
      h4 {
        text-decoration: none;
      }
    }
  }
}

.iconWrapper {
  display: none;
}


.imageWrapper{
  background-color: white;
  padding-top: 56.25%;
  position:relative;
  img{
    position:absolute;
    top:0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.imageOverlay{
  position: absolute;
  top:0;
  width:100%;
  padding-top: 56.25%;
  background-color:transparentize(#333, 0.5);
  z-index: 1;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.absoluteTextWrapper{
  padding:16px;
  box-sizing: border-box;
  z-index: 2;
}

h4.textImage{
  font-family: "sansita-bold", Helvetica, Arial, sans-serif;
  color:white;
}

