.toolbar{
  margin-top: 24px;
}

.form{
  label{
    font-size: 15px;
    font-weight: 400;
  }
  label:after{
      content:":";
  }
  h2{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 36px;
    i{
      font-size: 0.75em;
    }
  }
  h4{
    text-transform: none;
  }
  h5{
    font-weight: 400;
    margin-top: 2em;
  }
}
.formRow{
  margin-top: 24px;
}