@import "src/theme/variables";

.wrapper, .wrapperHidden {
  position:relative;
  margin: 0 2em 2em 2em;
}

.wrapperHidden {
  display:none;
}

.button {
  background-color: $aya-green;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: none;
  &:hover {
    background-color: $aya-red;
    transition: all 0.4s;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3em;
  cursor: pointer;
  color: $aya-red;
}

.newsletterForm {
  @media only screen and (min-width: $screen-sm-min) {
    text-align: right;
    margin-right: 40px;
  }
}
