@import "src/theme/variables";
.socialLinks {
  @media only screen and (min-width: $screen-lg-min) {
    position: absolute;
    right: 15px;
    margin-top: 15px;
  }
}
a.socialLink,
a.socialLink span{
  color: $aya-green;
  font-size: 1.25em;
}
a.socialLink:hover,
a.socialLink:hover span {
  color: darken($aya-green, 15%);
}
