@import "src/theme/variables";
.promo{
  margin-bottom: 16px;
  p{
    color:$gray;
  }
  
}

.icon{
  background-color:transparentize($brand-primary, 0.2);
  font-size: 3em;
  position: absolute;
  bottom:0;
  margin-bottom:0 ;
  z-index: 2;
}