@import 'src/theme/variables';

.breadcrumbwrapper {
    li a,
    li {
        font-family: "sansita-bold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: initial;
        font-weight: 500;
    }
    li a {
      color: $aya-green;
    }
    box-shadow: none;
}

