@mixin heading {
  text-transform: uppercase;
}

@mixin font-face($fontname, $fontfile) {
        font-family: '#{$fontname}';
        src: url('/fonts/#{$fontfile}/#{$fontfile}.eot');
    
         src: local('☺'),
          url('/fonts/#{$fontfile}/#{$fontfile}.eot?#iefix') format('embedded-opentype'),
             url('/fonts/#{$fontfile}/#{$fontfile}.woff') format('woff'),
             url('/fonts/#{$fontfile}/#{$fontfile}.woff') format('woff2'),
             url('/fonts/#{$fontfile}/#{$fontfile}.ttf') format('truetype'),
             url('/fonts/#{$fontfile}/#{$fontfile}.svg##{$fontname}') format('svg');
         
        font-weight: normal;
        font-style: normal;
}
