@import "src/theme/variables";
.socialLinks {
    position: absolute;
    right: 15px;
    @media only screen and (max-width: $screen-sm-min) {
        left: 15px;
        right: unset;
    }
}
:global {
    a.socialLinkAya,
    a.socialLinkAya span{
      color: $aya-green;
      font-size: 1.25em;
    }
    a.socialLinkAya:hover,
    a.socialLinkAya:hover span {
      color: darken($aya-green, 15%);
    }
}
