@import "src/theme/variables";
.socialLinks {
    position: absolute;
    right: 15px;
    @media only screen and (max-width: $screen-sm-min) {
        left: 15px;
        right: unset;
    }
}
a.socialLink,
a.socialLink span{
  color: $aya-green;
  font-size: 1.1em;
}
a.socialLink:hover,
a.socialLink:hover span {
  color: $aya-red;
}

.list {
  clear: both;
}

.listWrapper, .subscribe {
  float:left;
}

.subscribe {
  position: relative;
  font-family: "sansita-bold", Helvetica, Arial, sans-serif !important;
  text-transform: capitalize;
  font-size: 1.4em;
  margin-top: 0.1em;
  margin-right: 12px;
  cursor: pointer;
}
