@import "src/theme/variables";
.footer {
    text-align: center;
}
p.quote span {
  font-family: "brandon-light", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: $aya-dark-green;
}
.copyright {
  font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}
ul.standards {
    margin-bottom: 0;
    li {
        height: 50px;
        width: 60px;
    }
}
.organicLogo, .veganLogo {
	background-image:url("./LogoVeganSociety.png");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.organicLogo {
	background-image:url("./LogoSoilAssoc.png");
}

.socialLink{
  color: #40947d;
  font-size: 2em;
  &:hover{
    color: darken(#40947d, 6.5%);
  }
}
