@import "src/theme/variables";
.footer {
  padding: 30px 0 65px;
}


.copyright {
  margin-top: 32px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
  .Aya {
    color: #40947d;
  }
}

.socialLink{
  color:#666;
  font-size: 2em;
  &:hover{
    color: $brand-primary;
  }
}

