
@import 'src/theme/mixins';
@import 'src/theme/variables';

.intro {
  font-size: 2em;
}

.form {
  legend {
      @include heading();
      margin-bottom: 0;
      padding-top: 2em;
      border-bottom: none;
  }
  h3, h4 {
    text-transform: capitalize;
  }
}
.formGroupCollection{
  margin-top:6em;
}
.formGroup{
  margin-top:2em;
    label{
      margin-bottom:1em;
      font-size:1.6em;
    }
    p {
      font-size: 1.8em;
        font-weight: 500;
    }
    button {
        text-transform: capitalize;
    }
}

.top5{
  margin-top: 3.2em;
  span {
    color:white;
    font-size: 1.8em;
    &:nth-child(-n + 5) {
      background-color: lighten($green, 10%);
    }
    &:nth-child(n + 6) {
      background-color: lighten($red, 10%);
    }

  }
}

:global {
  span.ListItem-dragging{
      background-color: lighten($green, 30%) !important;
  }
}
