
@import 'src/theme/mixins';
form {
  legend {
      @include heading();
      margin-bottom: 0;
      padding-top: 2em;
      border-bottom: none;
  }
}

.formGroup{
    margin-top:3em;
    label{
      margin-bottom:1em;
      font-size:16px;
    }
    p {
        font-weight: 600;
    }
    button {
        text-transform: capitalize;
    }
}

.top5{
  span {
    color:white;
    &:nth-child(-n + 5) {
      background-color: green;
    }
    &:nth-child(n + 6) {
      background-color: red;
    }

  }
}
