@import "src/theme/variables";

.type{
 p{
    font-size: 14px;
    color: #666 !important;
  }
  @media only screen and (min-width: $screen-sm-min) {
    h4{
      margin-top: 0;
    }
  }
   @media only screen and (min-width: $screen-lg-min) {
    h4{
     font-size: 32px;
    }
    p {
      font-size: 16px;
    }
  }
}
.promoUnit {
    &:hover, 
    &:focus {
      background-color:transparentize(#ccc, 0.2);
    }
}
