@import "src/theme/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~compass-mixins/lib/compass";
:global {
    .appAya {
      margin:0 0 32px 0;
      @media only screen and (max-width: 500px) {
          margin:40px 0 32px 0;
      }
      h1, h2, h3, h4, h5 {
        font-family: "brandon-bold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
      }
      h1 {
        font-size: 1.9em;
        font-family: "sansita-bold", Helvetica, Arial, sans-serif;
        @media only screen and (min-width: $screen-sm-min) {
            font-size: 3em;
        }
      }
      h2 {
          font-family: "sansita-bold", Helvetica, Arial, sans-serif;
          color: $aya-red;
          @media only screen and (min-width: $screen-sm-min) {
              padding-bottom: 20px;
          }
      }
      p.blue {
          color: $aya-blue;
          font-weight: bolder;
      }
      a {
        font-family: $font-family-serif;
        color: #666;
        text-decoration: underline;
      }
      a:hover,
      a:focus {
        text-decoration: none;
        color: lighten(#666, 6.5%);
      }
      span {
        font-family: $font-family-serif;
        //color: #666;
      }
      span.emphasis {
          color: $aya-red;
          font-weight: bold;
      }
      dl.ayaList {
        dt {
        }
        dd {
            font-family: $font-family-serif;
            font-size: initial;
            &::before {
                content: "  -  ";
            }
        }
      }
      ul.aya-emphasis-list {
          padding-left: 0;
          li {
              list-style-type: none;
              list-style-position: inside;
          }
      }
      ul.ayaList {
        padding-left: 0;
        li {
          list-style: none;
          &::before {
              content: "  \2022  "; 
              color: $aya-red;
              font-size: 2em;
              vertical-align: sub;
          }
        }
      }
      table { 
        td {
          font-size: 16px;
          line-height: 2em;
        }
      }
      .hero-panel {
        .image-wrapper-holder {
          background-color: #fff;
        }
        .post-heading h1, span, hr {
          color: $aya-blue;
        }
        .fa-spin {
          color: $aya-blue;
        }
      }
      .row {
        display: flex;
        flex-flow: wrap;
      }

    }
}
