@import 'src/theme/variables';

.contact {
  font-family: $font-family-serif;
  font-size: 14px;
}
.socialMediaList {
      font-family: "Helvetica Neue", "Brandon-light", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 1.15em;
        font-weight: 500;
    }
.emailAddress {
    margin-left: 5px;
}
ul {
    padding-left:0;
}
li {
    list-style-type: none;
}

