@import "src/theme/variables";
.iconWrapper{
  background-color:transparentize($aya-green, 0.2);
  font-size: 1.5em;
  position: absolute;
  bottom:0;
  margin-bottom:0 ;
  z-index: 2;
  @media only screen and (min-width: $screen-sm-min) {
    font-size: 2em;
  }

  @media only screen and (min-width: $screen-md-min) {
    font-size: 2.5em;
  } 
}

.icon{
  color:#fff;
}
